<!doctype html>
<html lang="en">
<head>
    <title>Fun Survey Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item bg-dark"><a class="nav-link" href="/">Home</a></li>
        {% for key, value in label_dict.items() %}
            {%  if key != "Timestamp" %}
            <li class="nav-item bg-dark"><a class="nav-link" href="{{ url_for(key) }}">{{ key }}</a></li>
            {%  endif %}
        {% endfor %}
    </ul>
  </div>

</nav>

<div class="container">
    <div class="left-column">
    </div>

    <div class="page">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
    </div>
</div>

</body>
</html>
